:root {
    --colorRojo: #b81e14;
    --colorGris: #92908b;
}

* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 1180px;
    background-image: url('/img/bg-body.png');
    padding: 10px;
}

a {
    text-decoration: none;
    color: #ffff;
}

li {
    list-style: none;
}

/* MEDIA QUERIES*/

@media (min-width:768px) {

    /* HEADER */

    header button.burguer-menu {
        display: none;
    }

    nav.menu ul li {
        width: 15%;
        margin-bottom: 20px;
        font-size: 0.9rem;
        float: left;
        margin-right: 2%;
    }

    nav.menu ul li:last-child {
        margin-right: 0;
    }

    /* MAIN */

    .contenedor-banner {
        display: block;
    }

    .contenedor-banner img {
        width: 100%;
    }

   .contenedor-productos {
        overflow: hidden;
    }

    .producto {
        width: 49%;
        float: left;
        margin-right: 2%;
    }

    .producto:nth-child(even) {
        margin-right: 0;
    }

    .img-producto {
        width: 100%;
    }

}

@media (min-width:1024px) {

    /* HEADER */

   nav.menu ul li {
        font-size: 1rem;
        height: 50px;
        padding: 15px;
    }

    /* MAIN */

    .producto {
        width: 32%;
    }

    .producto:nth-child(even) {
        margin-right: 2%;
    }

    .producto:nth-child(3n) {
        margin-right: 0;
    }

    /* FOOTER */

    footer {
        background-color: var(--colorRojo);
        text-align: center;
        padding: 60px 0;
        border-radius: 30px 30px 0 0;

    }

    footer nav ul li {
        display: inline;
        margin-bottom: 0;
        text-transform: capitalize;
        padding: 0 10px;
        border-right: solid 1px #ffff;
    }

    footer nav ul li:last-child {
        border-right: none;
    }

}